@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");


.textw {
  color: #f5f5f7;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1em;
}

.textb {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1em;

  color: #1d1d1f;
}

.texto{
  color:#F69C27;

}

.bgw {
  background-color: #fbfbfd;
}



